body{
    background-color: #f5f7ff;
    font-family: Arial, sans-serif;
}

.container{
    width: 700px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px lightgray;
}

.top-section{
    background-color: #dfe8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.welcome-text h1{
    color: #2c3e94;
    margin-bottom: 10px;
}

.welcome-text p{
    color: #4b5c8a;
}

.top-image{
    width: 200px;
    background-color: transparent;
}
.image{
    width: 300px;
    background-color: lightblue;
}

.logo-section{
    text-align: left;
    padding-left: 40px;
    margin-top: -30px;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}

form{
    padding: 40px;
}

label{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
}

.remember{
    margin-top: 20px;
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    background-color: #7da2ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #5d85f5;
}
footer{
    text-align: center;
    margin-top: 20px;
    color: #4b5c8a;
}
.signup{
    text-align: center;
    margin-top: 20px;
    color: #4b5c8a;
}
select{
    width: 100%;
    padding: 15px;
    border: 2px solid #7da2ff;
    border-radius: 5px;
    font-size: 18px;
}